@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;

}

.amstor{
    display: flex;
    /* margin-left: 87px; */

}
.amstor1{
    padding: 0px 9px;
    background: white;
    /* width: 35rem; */
    height: 23rem;
}

.amstor2{
    display: flex;
    margin-left: 93px;
}
.amostor4{
    padding-top: 3rem;
    margin-left: 30px;
}
.amstor3{
    padding-top: 20px;
    margin-left: 25px;
}
#anna{
    font-size: 25px;
}

.amstor5{
    padding-left: 65px;
}

.amstor8{
    background-color: #E4E3E0;
    padding: 19px 34px;
    font-size: 18px;
    text-align: center;
    width: 63rem;
}
.amstor9{
    font-size: 21px;
}
.amstor11{
    width: 27rem;
    padding-left: 55px;
}

#amstor12{
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
}

#amstor18{
    background: #102057;
    color: white;
    text-align: center;
    padding: 64px 13px;
}
#amstor18 p{
    width: 71rem;
    font-size: 22px;
    padding: 29px 198px;
}
.amstor19{
    display: flex;
    gap: 15px;    
}

#amstor20{
    display: flex;
    margin-left: 49px;
}
.amstor21{
    width: 51rem;
    margin-left: 6rem;
}
#amstor22{
    background: #00000014;
    text-align: justify;
    padding: 5rem 22rem;
    width: 48rem;
    margin-left: 24px;
}
#hero4{
    padding: .5rem 2rem;
    text-decoration: none;
    color: white;
    background: orangered
}
#mon{
    padding: .5rem 2rem;
    text-decoration: none;
    color: black;
    background:white
}

#amstor22 h3{
    text-align: center;
}

#amstor22 p{
    margin-top: 44px;
}
.ekk{
    display: flex;
    background-color: white;
    padding: 2.5rem 2rem;
    width: 50rem;
    /* height: 17rem; */
    position: relative;
    top: -2rem;
    left: -3rem;

}

.amstor13{
    display: flex;
    /* gap: 14rem; */
    justify-content: space-around;
}
.amstor13 p{
    width: 28rem;
}
/* .amstor14 p{
    width: 28rem;
} */
/* .amstor14{
    justify-content: space-around;
    display: flex;
    gap: 22rem;
} */
.amstor6{
    padding-left: 14rem;
}
.amstor7{
    padding-left: 17rem,
}

@media only screen and (max-width:800px){
    .orl{
        width: 47rem;
    }
    .amstor{
        flex-direction: column;
    }
    .ekk{
        flex-direction: column-reverse;
    }
    .amstor2{
        flex-direction: column-reverse;
    }
    .orl1{
        width: 37rem;
    }
    .amstor1{
        width: 52rem;
    }
    .amstor6{
        width: auto;
        padding: unset;
        text-align: start;
        
    }
    .amstor9{
        color: blue;
    }
    .ore{
        width: 37rem;
    }
    .amstor8{
        width: 20rem;
    }
    .amst{
        flex-direction: column;
    }
    .amstor18{
        width: 83rem;
    }
    .amstor18 p{
        width: 58rem;
    }
}





@media only screen and(max-width:500px){
    .orl{
        width: 2rem;
    }
    .ekk{
        width: 31rem;
        text-align: center;
    }
    .amst{
        flex-direction: column;
    }
    .tnt1{
        width: 247rem;
    }
 
}