@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;

}
#career3{
    margin-left: 35px;
    padding-top: 4rem;

}
.career4{
    background: #F4F4F4;
    padding: 5px 15px;
    width: 36rem;
}
.career5{
    background: #F4F4F4;
    padding: 5px 15px;
    width: 36rem;
    margin-top: 2rem;
}
.career6{
    display: flex;
    margin-left: 2rem;
    /* gap: 3rem; */
}
.career7{
    margin-top:3rem;
    margin-left: 94px;
}
.hii{
    width: 100rem;
}


.career7{
    margin-top:3rem;
    margin-left: 94px;
}




@media only screen and (max-width:800px) {
    .career7{
        display: none;
    }
    .hii{
       width: 100%;
    }
    .career4{
        width: 100%;
    }
    .career5{
        width: 100%;
    }
    .some{
        position: relative;
        left: -56px;
    }
   

    

}

@media only screen and(max-width:500px){

   
   
   
   
   
 

}