body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'arimo', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E4E3E0;
}

nav{
    background-color: #E4E3E0;

}
nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    height: 50px;
    
}

nav a{
    display: flex;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 20px;
    align-items: center;
  
}
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 60rem;
    height: 100vh;
    width: 550px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    justify-content: flex-start;
    background: azure;
   
}

.sidebar a{
    width: 100%;
}

#menu-button{
    display: none;
}


.nav_1 ul li a {
    text-decoration: none;
}



.sec-p1{
    color: rgba(22, 22, 22, 0.64);
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.bt{
    text-align: left;
    margin-top: 17px;
}
.bt1{
    background-color:orangered;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-text-04, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IBM Plex Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: 0.01rem;
    list-style-type: none;
}

.bt2{
    
    border-radius: 10px;
    border: 1px solid #B327C1;
    padding: 10px 15px;
    text-decoration: none;
    color: #B327C1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: 0.01rem;
}
.bt a{
    list-style: none;
}
.heading{
    display:flow;
    padding: 125px;
}
.main-sec{
    display: flex;
}
/* .sec2{
    background-color: #0000000A;
    text-align:center;
    font-family: IBM Plex Sans;
    color:rgba(0, 0, 0, 0.64);
    position: relative;
    right: 40rem;
    bottom: 9rem;
    padding: 1rem 17rem;
} */

.sec-div2{
    background-color: #0000000A;
    border-radius: .5rem;
    padding: 1rem 14rem ;
    /* margin-top: 2.5rem; */
    transform: translate(-50%, -50%);
    z-index: 2; 
    width: 56rem;
    
}



 .sec-flex2{
    justify-content: center;
    display: flex;
    gap: 3rem;   
   
 }
 .kerala{
    background: orangered;
    border-radius: 1rem;
 }






.sec-img{
    /* width:10rem; */
    position: relative;
    right: -1rem;
    /* top: 3rem; */
    
}


.a-link{
    text-decoration: none;
    color:black;
    
}


#hero4{
    display: flex;
    /* margin-top: 6rem; */
}
#hero4 .ann1 {
    text-decoration: none;
    background-color: orangered;
    padding: 8px 57px;
    color: white;    border-radius: 10px;

} 
.hero4{
    background-color: white;
}

.deep1{
    /* margin-left: 39px; */
    background-color: #102057;
    background-blend-mode: multiply;
    padding: 5rem;
    text-align: center;
    color: white;
}
.annnn{
    text-decoration: none;
    background-color: orangered;
    padding: 8px 57px;
    color: white;
    border-radius: 10px;
}
.ann12{
    background-color: orangered;
    padding: 7px 30px;
    color: white;  
    border-radius: 10px;
    text-decoration: none;
}
.ann8{
    display: flex;
    gap: 37px;
}
.ann8 a{
    text-decoration: none;
    /* font-size: 18px; */
    padding: 5px 12px;
  
  
}
.ann5{
    background-color:#102057;
    color: white;
    
}
.ann11{
       /* padding: 27px; */
       background-color: #102057;
       width: 21rem;
       color: white;
       position: relative;
       bottom: 44rem;
       margin-left: 83px;
       padding: 9px 18px;
   }
.ann6{
    margin-top: 80px;
}
.ann10{
    margin-top: 4rem;
}
.ann8 a{
    width: 18rem;
}
.ann8 {
    display: flex;
    gap: 37px;
  
}

#deep3{
    margin-left: 6rem;
}
.choose10{
    list-style: none;
    gap: 10px;

}
.choose10{
    list-style: none;
    gap: 10px;
    display: grid;
}
.choose1{
    padding: 10px 51px;
    background-color: #102057;
    width: 35rem;
    border-radius: 14px;
    color: white;
}
.choose2{
    padding: 10px 45px;
    background-color: #102057;
    width: 33rem;
    border-radius: 14px;
    color: white;
}
.choose3{
    padding: 10px 41px;
    background-color: #102057;
    width: 31rem;
    border-radius: 14px;
    color: white;
}
.choose4{
    padding: 10px 37px;
    background-color: #102057;
    width: 28rem;
    border-radius: 14px;
    color: white;
}
.choose5{
    padding: 10px 33px;
    background-color: #102057;
    width: 395px;
    border-radius: 14px;
    color: white;
}
.choose6{
    padding: 10px 23px;
    background-color: #102057;
    width: 395px;
    border-radius: 14px;
    color: white;
}
.choose7{
    padding: 10px 23px;
    background-color: #102057;
    width: 395px;
    border-radius: 14px;
    color: white;
}
.choose8{
    padding: 10px 35px;
    background-color: #102057;
    width: 31rem;
    border-radius: 14px;
    color: white;
}
.choose10 li {
    transition: background-color 0.3s ease; 
}

.choose10 li:hover {
    background-color: orangered; 
}
.choose9{
    padding: 10px 35px;
    background-color: #102057;
    width: 33rem;
    border-radius: 14px;
    color: white;
}
.choose{
    text-align: center;
    font-size: 24px;
}
#ann13{
    display: flex;
    justify-content: space-around;
}
.service{
    display: grid;
    text-align: center;
    /* padding-top: 51px; */
    font-family: 'arimo', sans-serif;
}
.service_4{
    display: flow;
    width: 42rem;
    /* background: blue; */
    padding: 2rem 2rem;
    background-color: #102057;
    color: white;
    position: relative;
    bottom: 16rem;
    margin-left: 5rem;
}
.stopper{
    display: flow;
    width: 42rem;
    background-color: #102057;
    color: white;
    position: relative;
    bottom: 24rem;
    margin-left: 5rem;
    padding: 2rem 2rem;

}
.if{
    width: 50rem;
    height: 50rem;
    /* margin-left: 5rem; */
}
.stopper2{
    display: flow;
    width: 42rem;
    background-color: #102057;
    color: white;
    position: relative;
    bottom: 24rem;
    margin-left: 5rem;
    padding: 2rem 2rem;
}
.stopper1{
    display: flow;
    width: 42rem;
    background-color: #102057;
    color: white;
    position: relative;
    bottom: 24rem;
    margin-left: 5rem;
    padding: 2rem 2rem;
}

.arrow{
    display: flex;
}
.service_1{
    text-align: center;
   }
#tt6{
    background-color: #102057;
    color: #E4E3E0;
}
.service_5{
    display: flex;
    text-align: -webkit-center;
    gap: 21px;
    margin-left: 2rem;
    padding-bottom: 12px
    
 }

 .servive_9{
    display: flex;
    align-items: center;
} 
.tnt{
    display: flex;
    align-items: center;
}
.service_10{
    display: flex;
    align-items: center;
} 
.service_7{
    padding: 1rem 1rem;
    background-color: white;
    color: black;  
}
.service_6{
    padding: 1rem 1rem;
    background-color: white;
    color: black; 
}
.service-8{
    padding: 1rem 1rem;
    background-color: white;
    color: black; 
}
#sec-1{
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.sec-2{
    padding: 1rem 0rem;
    background: white;
}

.nb5{
    text-align: center;
}
.service_14{
    text-align: center;
}
#font{
    display: flex;
    gap: 7rem;
    justify-content: center;
}
    
.slider-container {
    display: inline-block;
    position: relative;
}
.slider-container img {
    display: block;
    max-width: 100%;
    height: auto;
    animation: rotate 10s linear infinite; /* Adjust the duration as needed */
}
.dd-flex{
         
    /* position: absolute; */
    width: 13rem;
    background: #102057;
    color: white;
    padding: 3rem;
    position: relative;
    top: 32rem;
}
.sec6-div{
    display: flex;
    gap: 6rem;
    justify-content: center;
    
}
.sec6-link{
    text-decoration: none;
    padding: 1rem 1rem;
    color: white;
    background-color: #102057;
}
.slider-container {
    overflow: hidden;
}

.font1 {
    display: flex;
    animation: slide 10s linear infinite; /* Change 10s to the desired duration */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}



/* second last page */
.box-wrapper{
    display: flex;
    gap: 20px;
    /* width: 84rem; */
    margin-left: 5rem;
}
.box{
    flex: -1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.box:hover .hidden-content {
    max-height: 200px;
}
.box_1{
    background-color: white;
    
}
/* footer page */

footer {
    background-color: #102057;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin-right: 20px;
    color: white;
}

.footer-col h4 {
    color:white;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col p {
    color: white;
}
.jj_j2{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

















@media only screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    if{
        width: 100%;
    }
    .sec-div2{
        width: 100%;
        margin-left: 14rem;
    }
    /* }
    .sidebar{
        display: block;
    } */
    .section2{
        width: 84rem;
    }
    .main-sec{
       flex-direction: column;
    }

    .hideonmobile{
        /* display: none; */
        display: block;
    }
    #menu-button{
        display: block;
    }
    .sidebar{
        width: 100%;
        left: 0;
    }

    
    .hhhh{
        display: flex;
    }
    .br {
        padding: .6rem;
        font-size: 10px;
    }
    #blue{
        display: none;
    }

    .sec-flex{
        display: block;
    }
    .sec-img {
        width: 20rem;
        
    }
 
    .sec-div {
        position: relative;
        margin: 1rem 1rem;
        /* padding: 0 15rem; */
    }
    .sec-h1 {
        font-size: 22px;
    }
    .p{
        font-size:9px ;
    }
    .br1{
        font-size: 10px;
        padding: .5rem;
    }
    .book {
        /* gap: 1rem; */
        margin-top: 2.5rem;
    }
    nav{
        flex-direction:column ;
        text-align: center;
        margin: 1rem 0;
        
    }
    .have{
        background: orangered;
        /* padding: 0.5px 0px; */
        width: 12rem;
        border-radius: 1rem;
    }
    .br2{
        
     text-decoration: none;
    color: white;
    background-color: #F85B12;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 10px;

    }
    .hdr{
        margin-top: 6rem;
    }
    /* .hero4{
        margin-top: 23rem;
    } */
    .ann4{
        margin-top: 3rem;
    }
    .tt6{
        width: 41rem;
        height: 53rem;
    }
    .ann5{
        margin: 0 auto;
        height: 2rem;
        height: auto;
    }
    .ann10{
        display: none;
    }
    .sec6-div{
        display: flex;
        gap: 6rem;
        justify-content: center;
        
    }
    .sec6-link{
        text-decoration: none;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #102057;
    }
}
    

 
    
    
  
  
        
 

@media only screen and (max-width:500px){
    body{
        overflow-x: hidden;
    }
    /* .sidebar{
        display: block;
    } */
    .hideonmobile{
        display: none;   
    }
    #menu-button{
        display: block;
    }
    .sidebar{
        width: 100%;
        left: 0;
    }
    nav ul{
        margin-left:0rem;
    }
    .am{
        width: 7rem;
        margin-right: 5rem;
    }
    .hhhh{
        display: flex;
    }

    .tt5{
        width: auto;
        text-align: center;
    }
   .tt2{
    flex-direction: column-reverse;
 
   }
   .ann2{
    text-align: center;
   }
   #gggg{
    width: 33rem;
   }
   #for{
    display: none;
   }
   .ann8{
    /* margin-left: 5rem; */
    flex-direction: column;
   }
  
   .service_1{
    width: auto;
   }
   #ppp{
    width: 39rem;
   }
   .if{
    width: 5rem ;
   }
   .choose10{
    margin-right: 6rem;
   }
  .choose1{
    width: 17rem;
  }
  .choose2{
    width: 17rem;
  }
  .choose3{
    width: 17rem;
  }
  .choose4{
    width: 17rem;
  }
  .choose5{
    width: 17rem;
  }
  .choose6{
    width: 17rem;
  }
  .choose7{
    width: 17rem;
  }
  .choose8{
    width: 17rem;
  }
  .choose9{
    width: 17rem;
  }
  .choose10{
    font-size: 10px;
    padding-left: 1px;
  }
.if{
    width: 26rem;
    height: 33rem;
}
.service_4{
    font-size: 13px;
    width: 21rem;
    height: 13rem;
}
.service_6{
    display: none;
}
.service_7{
    display: none;
}
.font1{
    flex-flow: wrap;
}
.sec{
    display: grid;
}
.tttt{
    flex-direction: column;
}
.row{
    flex-direction: column;
}
.deep1{
    position: relative;
    bottom: 6rem
}
.service_3{
    padding: 0rem;
    background: white;
}
.sec-2{
    padding: 2px 32px
}
.focus{
    width: 27rem;
}
.box-wrapper{
    flex-direction: column;
    margin-left: 0;
}
.section2{
    display: none;
}
.heading{
    margin-bottom: -7rem;
}

}