@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;

}
.lehealth1{
    text-align: center;
}
.lehealth2{
    display: flex;
    gap: 15px;
    width: 53rem;
    margin-left: 258px;
    font-size: 17px;
    padding-top: 2rem;
}
.lehealth3{
    color: #102057;
}
.lehealth4{
    width: 87rem;
    margin-left: 69px;
    font-size: 19px;
}
.lehealth5{
    display: flex;
}
.lehealth6{
    width: 31rem;
    margin-left: 5rem;
    font-size: 19px;
}
.lehealth7{
    margin-left: 12rem;
}
.lehealth8{
    display: flex;
    margin-left: 22rem;
    gap: 8rem;
    margin-top: 43px;
}
.lehealth9 p{
        position: relative;
        bottom: 38px;
        left: 44px;
}
.lehealth10 p{
    position: relative;
    bottom: 38px;
    left: 44px;
}
.lehealth12{
    text-align: center;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .lehealth13{
    display: flex;
    gap: 20px;
    background: azure;
    border-radius: 9px;
  }
 .lehealth14 p{
    position: relative;
    bottom: 16px;
    left: 17px;
    
 }
 #lehealth15{
    margin-left: 8rem;
  }
  #lehealth16{
    background: azure;
    border-radius: 9px;
  }
  #lehealth17{
    display: flex;
    gap: 25px;
  }
  .lehealth1 h2{
    padding-top: 2rem;
  }
  .lehealth1 p{
    padding-top: 2rem;
  }

  @media only screen and (max-width:800px){
    .bore{
        width: 100%;
    }
    .lehealth{
        width: auto;
    }
    .lehealth2{
        flex-direction: column;
        margin-left: 1rem;
    }
    .lehealth3{
        width: 24rem;
        margin-top: 1rem;
    }
    .fon{
        width: 24rem;
    }

    .bore1{
        width: 100%;
    }
  }

  @media only screen and (max-width:500px){
 

  }