body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'arimo', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E4E3E0;
}

nav{
    background-color: #E4E3E0;

}
nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    height: 50px;
}
nav a{
    display: flex;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 20px;
    align-items: center;
}
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 60rem;
    height: 100vh;
    width: 550px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.sidebar a{
    width: 100%;
}
#menu-button{
    display: none;
}

.kerala {
    padding: 1px 1px;
    background: orangered;
    border-radius: 1rem;
    color: white;
}
.have{
    padding: 1px 3px;
    background: orangered;
    border-radius: 1rem;
    color: white;
}
br{
    text-decoration: none;
    color: white;
    background-color: #F85B12;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
}
.br:hover{
    filter: brightness(1.2);
}
.br1{
    text-decoration: none;
    color: white;
    background-color: #F85B12;
    padding: 1rem 3rem;
    border-radius: .5rem;
}
.br1:hover{
    filter: brightness(1.2);
}
.sec-h1{
    color:#102057;
    font-size: 3rem;
    
}
.sec-h1:hover{
    filter: brightness(1.2);
}

.sec-flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    

    
}
.sec-div{
    position: relative;
    margin: 6rem 4rem;
    /* padding: 0 15rem; */
}

.sec-div2{
    background-color: #FFFFFFA6;
    border-radius: .5rem;
    padding: 1rem 1rem ;
    margin-top: 2.5rem;
    position: absolute;
    top: 85%;
    left: 74%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Add this line */
    width: 50rem;
}





.sec-flex2{
    display: flex;
    justify-content: center;
    gap:3rem;
}
.book{
  
    /* gap:1rem; */
    margin-top: 4rem;
}
.a-link{
    text-decoration: none;
    color:black;
    
}




















@media only screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    .sidebar{
        display: block;
    }

    .hideonmobile{
        display: none;
    }
    #menu-button{
        display: block;
    }
    .sidebar{
        width: 100%;
        left: 0;
    }
    .hhhh{
        display: flex;
    }
    .br {
        padding: .6rem;
        font-size: 10px;
    }
    #blue{
        display: none;
    }

 
 
    
    
  
  
        
}   

@media only screen and (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .sidebar{
        display: block;
    }
    .hideonmobile{
        display: none;   
    }
    #menu-button{
        display: block;
    }
    .sidebar{
        width: 100%;
        left: 0;
    }
    nav ul{
        margin-left:0rem;
    }
    .am{
        width: 7rem;
        margin-right: 5rem;
    }
    .hhhh{
        display: flex;
    }

    .tt5{
        width: auto;
        text-align: center;
    }
   .tt2{
    flex-direction: column-reverse;
 
   }
 




}